[submodule "src/projects/memory-test"]
	path = src/projects/memory-test
	url = https://github.com/b3nj5m1n/memory-test.git
[submodule "src/projects/base16-viewer"]
	path = src/projects/base16-viewer
	url = https://github.com/b3nj5m1n/base16-viewer.git
[submodule "src/projects/mentari"]
	path = src/projects/mentari
	url = https://github.com/b3nj5m1n/mentari.git
[submodule "src/projects/reading-progress"]
	path = src/projects/reading-progress
	url = https://github.com/b3nj5m1n/reading-progress
[submodule "src/modules/3-style-trainer"]
	path = src/modules/3-style-trainer
	url = https://github.com/b3nj5m1n/3-style-trainer
[submodule "src/projects/whatsmap"]
	path = src/projects/whatsmap
	url = git@github.com:b3nj5m1n/whatsmap.git
